@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    .footer-link {
        @apply px-2
    }
}

.carousel-root, .carousel, .slider-wrapper, .slider {
    height: 100%;
}

.animated {
    height: 100%;
}

.slider > li {
    height: 100%;
}